<section class="main-content">
    <div class="loading-content" ng-if="loading">
        <div class="process">
            <div class="process-circle"></div>
            <div class="process-title"><span>Загрузка...</span></div>
        </div>
    </div>
    <div class="main-content-friends">
        <!--Блок кнопок-->
        <div class="friends-top">
            <div class="block-navigation-button">
                <button class="btn btn-friend" ng-click="home()">На главную</button>
            </div>
        </div>
        <div class="friends-content-middle">
            <ul class="card clearfix">
                <li class="card-block" ng-repeat="item in menu" >
                    <div class="card-block-item" ng-click="goToStat(item.url)">
                        <div class="card-block-item-title">{{item.title}}</div>
                        <div>{{item.description}}</div>
                            <span class="card-block-button">
                                <span class="state-blog">Вперед</span>
                            </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>