<!DOCTYPE html>
<html ng-app="MainModule">
<!--[if IE 8 ]>    <html lang="ru" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ru" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>LikeSearch</title>
    <base href="/">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic" rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic,latin-ext' rel='stylesheet' type='text/css'>

    <!--build:css(./) /assets/styles/ionicons/ionicons.css-->
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.css"/>
    <!--endbuild-->

    <!--build:css(./) /assets/styles/style.css-->
    <link type="text/css" rel="stylesheet" href="styles/main/style.css">
    <!--endbuild-->

    <!--build:css(./) /assets/styles/bootstrap.css-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <!--endbuild-->

    <!--build:css(./) /assets/styles/main.css-->
    <link rel="stylesheet" href="styles/components.css"/>
    <link rel="stylesheet" href="styles/gallery.css"/>
    <link rel="stylesheet" href="styles_new/main.css"/>
    <!--endbuild-->
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"> </script><![endif]-->

</head>
<body ng-controller="MainController">
<header role="banner" ng-show="!openAccess">
    <div id="header-inn">
        <span class="pseudo-menu">&#9776;</span>
        <nav id="top-menu" role="navigation">
            <a href="#about-us">Функционал</a>
            <a href="#contacts">Контакты</a>
        </nav><!-- #top-menu -->
    </div><!-- #header-inn -->
</header>

<section id="services" class="section-main section" ng-show="!openAccess">
    <div class="section-inn">
        <div class="half-block f-left">
            <div class="services-provide-block">
                <h3>LikeSearch</h3>
                <ul>
                    <li class="item-1">
                        <strong>Ваши друзья</strong>
                        <p>Cписок пользователей Вконтакте в удобном формате с временем последнего посещения.</p>
                    </li>
                    <li class="item-2">
                        <strong>Самое интересное</strong>
                        <p>Кто кому поставил "лайк": поиск активности по стене и по фотографиям</p>
                    </li>
                    <li class="item-3">
                        <strong>Дополнительно</strong>
                        <p>Просмотр дополнительной информации о пользователях Вконтакте.</p>
                    </li>
                </ul>
                <!--<a href="#about-us" class="to-employee-btn">Подробнее</a>-->
                <a href="{{url}}" class="to-employee-btn">Зайти через <b>Вконтакте</b></a>
            </div>
        </div>
        <div class="half-block f-right">
            <div class="services-slider-block">
                <div id="slider-wrap">
                    <div id="slider">
                        <figure class="slide"><img src="image/main/large-slides/slide.jpg" alt="Slide 1"></figure>
                        <figure class="slide"><img src="image/main/large-slides/slide2.jpg" alt="Slide 2"></figure>
                        <figure class="slide"><img src="image/main/large-slides/slide3.jpg" alt="Slide 3"></figure>
                    </div><!-- #slider -->
                </div><!-- #slider-wrap -->
            </div><!-- .services-slider-block -->
        </div>

    </div><!-- .section-inn -->

</section><!-- #services -->
<div id="pets-bg">
    <section id="about-us" class="section-main section" ng-show="!openAccess">
        <div class="section-inn">
            <h3 class="middle-title">Подробная <span>информация</span></h3>
            <div class="middle-text">
                <p>Блокнотик ВК - приложение, построенное на API социальной сети Вконтакте. Компактное и удобное представление списка ваших друзей, возможность посмотреть кто когда заходил, кто кому поставил лайк и не только.</p>
            </div><!-- .middle-text -->
            <div class="our-awards-wrap">
                <div class="our-awards-slider">
                    <img src="image/main/awards-slides/slide.jpg" alt="Award Name Slide 1" class="award-img">
                    <img src="image/main/awards-slides/slide2.jpg" alt="Award Name Slide 2" class="award-img">
                    <img src="image/main/awards-slides/slide3.jpg" alt="Award Name Slider 3" class="award-img">
                </div><!-- .our-awards-slider -->
                <div class="our-awards-text">
                    <div id="html6-tab">
                        <ul class="resp-tabs-list">
                            <li>Друзья</li>
                            <li>Основной функционал</li>
                            <li>Дополнительно</li>
                        </ul>
                        <div class="resp-tabs-container">
                            <div>
                                <ul>
                                    <li>Список ваших друзей</li>
                                    <li>Время последнего посещения</li>
                                    <li>Перемещение по всем спискам друзей</li>
                                    <li>Простая навигация и интерфейс</li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li>Выбор пользователя</li>
                                    <li>Поиск лайков на стене пользователя ВК</li>
                                    <li>Поиск лайков среди фотографий пользователя ВК</li>
                                    <li>Выбор пользователя, чьи лайки вы ищите</li>
                                    <li>Результат поиска - фотографии или посты на стене</li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li>Альбомы</li>
                                    <li>Фотографии</li>
                                    <li>Видеозаписи</li>
                                    <li>Подписчики</li>
                                    <li>Общие друзья</li>
                                    <li>Группы</li>
                                </ul>
                            </div>
                        </div><!-- .resp-tabs-container -->
                    </div><!-- #html6-tab -->
                </div><!-- .our-awards-text -->
            </div><!-- .our-awards-wrap -->
        </div><!-- .section-inn -->
    </section><!-- #about-us -->

</div><!-- #pets-bg -->
<section id="contacts" class="section-main section" ng-if="!openAccess">
    <div class="section-inn">
        <div class="contacts-info">
            <strong>Свяжитесь <span>с нами</span></strong>
            <p>Ждем ваши вопросы, отзывы и комментарии</p>
        </div>
        <form class="contact-form">
            <div class="f-right">
                <input id="name" ng-model="content.fio" name="fio" type="text" placeholder="Имя">
                <input id="email" ng-model="content.email" name="email" type="text" placeholder="E-mail">
            </div><!-- .f-right -->
            <textarea id="message" ng-model="content.wish" name="wish" rows="5" cols="20" placeholder="Сообщение"></textarea>
            <button type="submit" ng-click="sendWish()">Отправить</button>
            <div class="send-message" ng-if="send">{{statusText}}</div>
        </form>
    </div><!-- .section-inn -->
</section><!-- #contacts -->
<section class="map-section section-main" ng-if="!openAccess">
    <div id="map_canvas"></div>
</section><!-- .map-section -->
<section class="main-content" ng-show="openAccess">
    <ui-view></ui-view>
    <notificaton></notificaton>
</section>




<footer role="contentinfo" ng-if="!openAccess">
    <div class="foo-inn">
        <nav id="bottom-menu">
            <a href="#services">Функционал</a><span>|</span>
            <a href="#contacts">Контакты</a>
        </nav><!-- #bottom-menu -->
        <p class="copyright">&copy; 2015-2016 LikeSearch</p>
    </div><!-- .foo-inn -->
</footer>
<div class="navigation-fixed">
    <span class="button-top">Назад</span>
    <span class="button-bottom">Вперед</span>
</div><!-- .navigation-fixed -->


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"> </script>

<!--build:js(./) /assets/scripts/plugins.js-->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="bower_components/responsiveSlides.js/responsiveslides.min.js"></script>
<!--endbuild-->

<!--build:js(./) /assets/scripts/angular.js-->
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="bower_components/angular-touch/angular-touch.min.js"></script>
<script type="text/javascript" src="bower_components/ng-table/dist/ng-table.js"></script>

<!--endbuild-->

<!--build:js(./) /assets/scripts/mainPlugins.js-->
<script src="bower_components/libs/infobox.js"> </script>
<script src="bower_components/libs/scrollspy.js"> </script>
<script src="bower_components/libs/easyResponsiveTabs.js"> </script>
<!--endbuild-->

<!--build:js(./) /assets/scripts/main.js-->
<script src="components/main/main.js"> </script>
<!--endbuild-->

<script type="text/javascript">
    $(document).ready(function () {
        $('#html6-tab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
        });
    });
</script>

<!--module-->
<!--build:js(./) /app/src.js-->
<script type="text/javascript" src="MainModule.js"></script>
<script type="text/javascript" src="components/friends/FriendsModule.js"></script>
<script type="text/javascript" src="components/user/UserModule.js"></script>
<script type="text/javascript" src="components/wall/WallModule.js"></script>
<script type="text/javascript" src="components/userFriendsList/UserFriendsModule.js"></script>
<script type="text/javascript" src="components/photo/PhotoModule.js"></script>
<script type="text/javascript" src="components/selected/SelectedModule.js"></script>

<!--services-->
<script type="text/javascript" src="models/NotificationService.js"></script>

<!--models-->
<script type="text/javascript" src="models/LocalStorageModel.js"></script>
<script type="text/javascript" src="models/RestModelService.js"></script>
<script type="text/javascript" src="models/UserModel.js"></script>

<!--directives-->
<script type="text/javascript" src="directives/NotificationDirective.js"></script>
<script type="text/javascript" src="directives/ImageDirective.js"></script>
<script type="text/javascript" src="directives/SliderDirective.js"></script>


<!--controllers-->
<script type="text/javascript" src="components/friends/controllers/FriendsController.js"></script>
<script type="text/javascript" src="components/user/controllers/UserController.js"></script>
<script type="text/javascript" src="components/wall/controllers/WallController.js"></script>
<script type="text/javascript" src="components/userFriendsList/controllers/UserFriendsController.js"></script>
<script type="text/javascript" src="components/photo/controllers/PhotoControllers.js"></script>
<script type="text/javascript" src="components/selected/controllers/SelectedController.js"></script>

<script type="text/javascript" src="controllers/MainController.js"></script>

<script type="text/javascript" src="config.js"></script>
<!--endbuild-->
</body>
</html>