<div class="main">
    <div class="block-back">
        <button class="btn btn-back" ng-click="back()">К профилю</button>
    </div>
    <div class="block-form" ng-if="openOtherSearch && !process">
        <button class="btn btn-back" ng-click="returnFormSearch()">К форме поиска</button>
    </div>
    <div class="block-photo" ng-if="!process">
        <button class="btn btn-home" ng-click="photo()">Поиск <i class="ion-heart"></i> по фото</button>
    </div>
    <div class="user-content">
        <div class="main-form" ng-if="!likePosts && !process">
            <form role="form" name="wallForm">
                <div class="row main-form-title">
                    <span>Форма поиска <i class="ion-heart" style="color:#6383A8"></i> на стене пользователя</span>
                </div>
                <hr>
                <div class="row main-form-caption">
                    <div class="col-md-4 col-xs-4">
                        <span>Гость</span>
                    </div>
                    <div class="col-md-4 col-xs-4"></div>
                    <div class="col-md-4 col-xs-4">
                        <span>Владелец стены</span>
                    </div>
                </div>
                <div class="row main-form-users">
                    <div class="col-md-4 col-xs-4">
                        <span ng-if="userSearchFor" class="caption-form-name">{{userSearchFor.first_name + ' ' + userSearchFor.last_name}}</span>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <!--<i ng-class="{'ion-arrow-right-c': right, 'ion-arrow-left-c': !right}"></i>-->
                        <div class="btn arrows" ng-click="changeUser(user, userSearchFor)">поменять</div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <span class="caption-form-name">{{user.first_name + ' ' + user.last_name}}</span>
                    </div>
                </div>
                <hr>
                <div class="row main-form-caption">
                    <div class="col-md-6 col-xs-6">
                        <span>Количество записей</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <select class="form-control" ng-model="countPost">
                            <option>1</option>
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-search" ng-click="likesWall(countPost)" ng-disabled="wallForm.$invalid || wallForm.$pristine">Поиск</button>
                </div>
            </form>
        </div>

        <div class="main-component-wall" ng-if="!process && likePosts.length > 0">
            <div class="caption-wall">Записи со стены:</div>
            <ul class="list-unstyled">
                <li ng-repeat="post in likePosts" class="post">

                    <!--если есть вложения-->
                    <div class="post-block" ng-if="post.attachments && post.attachments.length > 0">
                        <ul class="list-unstyled">
                            <li ng-repeat="attachment in post.attachments">
                                <div class="pull-left post-block-photo" ng-click="increasePhoto(attachment.photo)" ng-if="attachment.type == 'photo'">
                                    <img src="{{attachment.photo.photo_75}}" alt=""/>
                                </div>
                                <div class="post-block-music-container" ng-if="attachment.type == 'audio'">
                                    <span ng-if="!attachment.isOpen" ng-click="openMusic(attachment)">{{attachment.audio.artist + ' ' + attachment.audio.title}}</span>
                                    <span ng-if="attachment.isOpen" ng-click="openMusic(attachment)">Свернуть</span>
                                    <div class="pull-left post-block-music" ng-if="attachment.type == 'audio' && attachment.isOpen">
                                        <div class="post-block-music-name">{{attachment.audio.artist + ' ' + attachment.audio.title}}</div>
                                        <audio controls style="background: #6383A8;">
                                            <source src="{{attachment.audio.url}}" type="audio/mp3">
                                        </audio>
                                    </div>
                                </div>
                                <div class="pull-left post-block-music" ng-if="attachment.type == 'video'"> Видеозапись</div>
                            </li>
                        </ul>
                    </div>

                    <!--если запись репост-->
                    <div class="post-block" ng-if="post.copy_history && post.copy_history.length > 0">
                        <ul class="list-unstyled">
                            <li ng-repeat="history in post.copy_history">
                                <ul class="list-unstyled">
                                    <li ng-repeat="attachment in history.attachments">
                                        <div class="pull-left post-block-photo" ng-if="attachment.photo.photo_75 && attachment.type == 'photo'" ng-click="increasePhoto(attachment.photo)">
                                            <img src="{{attachment.photo.photo_75}}" alt=""/>
                                        </div>
                                        <div class="post-block-music-container" ng-if="attachment.type == 'audio'">
                                            <span ng-if="!attachment.isOpen" ng-click="openMusic(attachment)">{{attachment.audio.artist + ' ' + attachment.audio.title}}</span>
                                            <span ng-if="attachment.isOpen" ng-click="openMusic(attachment)">Свернуть</span>
                                            <div class="pull-left post-block-music" ng-if="attachment.type == 'audio' && attachment.isOpen">
                                                <div class="post-block-music-name">{{attachment.audio.artist + ' ' + attachment.audio.title}}</div>
                                                <audio controls style="background: #6383A8;">
                                                    <source src="{{attachment.audio.url}}" type="audio/mp3">
                                                </audio>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="pull-left post-block-photo" ng-if="history.photo.photo_75" ng-click="increasePhoto(history.photo)">
                                    <img src="{{history.photo.photo_75}}" alt=""/>
                                </div>
                                <div class="post-text" ng-if="history.text != ''">{{history.text}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="post-text" >{{post.text}}</div>
                    <div class="post-more">
                        <div class="post-more-likes">
                            <span>
                                <i class="ion-heart"></i>{{' ' + post.likes.count}}
                            </span>
                        </div>
                        <!--<div class="post-more-comment" ng-if="post.comments.count > 0">-->
                        <!--<span ng-click="openComment(post)">Посмотреть комментарии</span>-->
                        <!--</div>-->
                    </div>
                </li>
            </ul>
        </div>

        <div class="caption-empty" ng-if="!posts && likePosts.length == 0 && openOtherSearch && !process">
            <div>Пустая стена :)</div>
        </div>

        <div class="caption-notLikes" ng-if="!process && likePosts.length == 0 && posts">
            <div>{{userSearchFor.first_name + ' ' + userSearchFor.last_name}}</div>
            <div style="color:red">не уважает</div>
            <div>{{user.first_name + ' ' + user.last_name}}</div>
            <div style="color:#6383a8">Отметки "мне нравится" отсутствуют</div>
        </div>
    </div>


    <div class="processing" ng-if="process">
        <i class="ion-load-c"></i>
    </div>

    <div class="blade" ng-if="openBigBlade" image>
        <div class="blade-close" ng-click="closeBlade()">Закрыть</div>
    </div>

</div>