<div class="loading-content" ng-if="loading">
    <div class="process">
        <div class="process-circle"></div>
        <div class="process-title"><span>Загрузка...</span></div>
    </div>
</div>
<div class="main-content-friends">
    <div class="selected-top">
        <div class="userFriend-title">
            {{currentUser.first_name + ' ' + currentUser.last_name}}
        </div>
        <div class="block-navigation-button">
            <button class="btn btn-back" ng-click="back()">Назад</button>
        </div>
    </div>
    <div class="friends-content">
        <div class="friends-content-top">
            <!--поиск-->
            <!--кол во друзей-->
            <div class="friend-table-settings">
                <div>
                    <div class="friend-table-settings-caption"> <span>Друзей: {{countFriends}}</span></div>
                </div>
                <div>
                    <input class="form-control" type="text" placeholder="Поиск" ng-model="userFilter"/>
                </div>
            </div>
        </div>
        <div class="friends-content-middle">
            <div class="row"><div class="col-md-12 text-center friend-table-settings-caption">Выбери друга:</div></div>
            <div class="friends-item row" ng-repeat="user in userFriends | orderBy:predicate:reverse | filter:userFilter" ng-if="$index >= (page - 1) * pageSize && $index < page * pageSize" ng-click="isSelected(user)" ng-class="{'selected-item':selected == user}">
                <div class="friends-item-photo col-md-2 col-xs-2">
                    <img src="{{user.photo_50}}" alt="ПользовательВк"/>
                </div>
                <div class="friends-item-name col-md-5 col-xs-5">
                    <span>{{user.first_name}}</span>
                    <span> </span>
                    <span> {{user.last_name }}</span>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="friends-content-bottom">
            <div ng-if="selected">
                <div class="col-md-6 col-xs-12 col-sm-6" style="padding: 0">
                    <button class="btn-select" ng-click="selectUserNext(user)">Далее</button>
                </div>
                <!--<div class="col-md-6 col-xs-12 col-sm-6">-->
                    <!--<button class="btn-cancel" ng-click="cancel(user)">Отмена</button>-->
                <!--</div>-->
            </div>
            <div ng-if="!selected">
                <div class="col-md-4 col-xs-4" style="padding: 0">
                    <button class="btn-prev" ng-click="$parent.page = page - 1" ng-disabled="page == 1">&laquo; <span>Назад</span></button>
                </div>
                <div class="col-md-4 col-xs-4 text-center">
                    <button class="btn-begin" ng-click="$parent.page = 1" ng-disabled="$parent.page == 1">Начало</button>
                </div>
                <div class="col-md-4 col-xs-4" style="padding: 0">
                    <button class="btn-next" ng-click="$parent.page = page + 1" ng-disabled="page * pageSize >= userFriends.length"><span>Вперед</span> &raquo;</button>
                </div>
            </div>
        </div>
    </div>
</div>

