<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="ru" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ru" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>Free Stars - легкий одностраничный шаблон</title>
	<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<script src="js/jquery.min.js"> </script>
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"> </script><![endif]-->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"> </script>
	<script src="js/libs/infobox.js"> </script>
	<script src="js/libs/scrollspy.js"> </script>
	<script src="js/libs/easyResponsiveTabs.js"> </script>
	<script src="js/index.js"> </script>
	<script type="text/javascript">
		 $(document).ready(function () {
		 	$('#html6-tab').easyResponsiveTabs({
		 		type: 'default', //Types: default, vertical, accordion
		 		width: 'auto', //auto or any width like 600px
		 		fit: true, // 100% fit in a container
		 	});
		 });
	</script>
</head>
<body>
	<header role="banner">
		<div id="header-inn">
			<!--<a href="#" id="top-logo">Блокнотик ВК</a>-->
			<span class="pseudo-menu">&#9776;</span>
			<nav id="top-menu" role="navigation">
				<a href="#about-us">Функционал</a>
				<!--<a href="#about-us">О нас</a>-->
				<!--<a href="#our-employee">Команда</a>-->
				<a href="#contacts">Контакты</a>
			</nav><!-- #top-menu -->
		</div><!-- #header-inn -->
	</header>
	<section id="services" class="section-main section">
		<div class="section-inn">
			<div class="half-block f-left">
				<div class="services-provide-block">
					<h3>Блокнотик ВК</h3>
					<ul>
						<li class="item-1 active">
							<strong>Друзья</strong>
							<p>Cписок пользователей Вконтакте в удобном формате с временем последнего посещения.</p>
						</li>
						<li class="item-2">
                            <strong>Основной функционал</strong>
                            <p>Кто кому поставил "лайк": поиск по стене и по фотографиям</p>
						</li>
						<li class="item-3">
                            <strong>Дополнительно</strong>
                            <p>Просмотр дополнительной информации о пользователях Вконтакте.</p>
						</li>
					</ul>
					<a href="#about-us" class="to-employee-btn">Подробнее</a>
				</div><!-- .services-provide-block -->
			</div>
			<div class="half-block f-right">
				<div class="services-slider-block">
					<div id="slider-wrap">
						<div id="slider">
						    <figure class="slide"><img src="img/large-slides/slide.jpg" alt="Slide 1"></figure>
						    <figure class="slide"><img src="img/large-slides/slide2.jpg" alt="Slide 2"></figure>
						    <figure class="slide"><img src="img/large-slides/slide3.jpg" alt="Slide 3"></figure>
						</div><!-- #slider -->
					</div><!-- #slider-wrap -->
				</div><!-- .services-slider-block -->
			</div>

		</div><!-- .section-inn -->
	</section><!-- #services -->
	<div id="pets-bg">
		<section id="about-us" class="section-main section">
			<div class="section-inn">
				<h3 class="middle-title">Подробная <span>информация</span></h3>
				<div class="middle-text">
					<p>Блокнотик ВК - приложение, построенное на API социальной сети Вконтакте. Компактное и удобное представление списка ваших друзей, возможность посмотреть кто когда заходил, кто кому поставил лайк и не только.</p>
				</div><!-- .middle-text -->
				<div class="our-awards-wrap">
					<div class="our-awards-slider">
						<img src="img/awards-slides/slide.jpg" alt="Award Name Slide 1" class="award-img">
						<img src="img/awards-slides/slide2.jpg" alt="Award Name Slide 2" class="award-img">
						<img src="img/awards-slides/slide3.jpg" alt="Award Name Slider 3" class="award-img">
					</div><!-- .our-awards-slider -->
					<div class="our-awards-text">
						<div id="html6-tab">
							<ul class="resp-tabs-list">
								<li>Друзья</li>
								<li>Основной функционал</li>
								<li>Дополнительно</li>
							</ul>
							<div class="resp-tabs-container">
								<div>
									<ul>
										<li>Список ваших друзей</li>
										<li>Время последнего посещения</li>
										<li>Перемещение по всем спискам друзей</li>
										<li>Простая навигация и интерфейс</li>
									</ul>
								</div>
								<div>
									<ul>
                                        <li>Выбор пользователя</li>
										<li>Поиск лайков на стене пользователя ВК</li>
										<li>Поиск лайков среди фотографий пользователя ВК</li>
										<li>Выбор пользователя, чьи лайки вы ищите</li>
										<li>Результат поиска - фотографии или посты на стене</li>
									</ul>
								</div>
								<div>
									<ul>
										<li>Альбомы</li>
										<li>Фотографии</li>
										<li>Видеозаписи</li>
										<li>Подписчики</li>
										<li>Общие друзья</li>
										<li>Группы</li>
									</ul>
								</div>
							</div><!-- .resp-tabs-container -->
						</div><!-- #html6-tab -->
					</div><!-- .our-awards-text -->
				</div><!-- .our-awards-wrap -->
			</div><!-- .section-inn -->
		</section><!-- #about-us -->

	</div><!-- #pets-bg -->
	<section id="contacts" class="section-main section">
		<div class="section-inn">
			<div class="contacts-info">
				<strong>Свяжитесь <span>с нами</span></strong>
				<p>Ждем ваши вопросы и комментарии</p>
			</div>
			<form action="http://html6.com.ru/" method="post" class="contact-form">
				<div class="f-right">
					<input id="name" name="name" type="text" placeholder="Имя">
					<input id="email" name="email" type="text" placeholder="E-mail">
				</div><!-- .f-right -->
				<textarea id="message" name="message" rows="5" cols="20" placeholder="Сообщение"></textarea>
				<button type="submit">Отправить</button>
			</form>
		</div><!-- .section-inn -->
	</section><!-- #contacts -->
	<section class="map-section section-main">
		<div id="map_canvas"></div>
	</section><!-- .map-section -->
	<footer role="contentinfo">
		<div class="foo-inn">
			<nav id="bottom-menu">
				<a href="#services">Функционал</a><span>|</span>
				<a href="#contacts">Контакты</a>
			</nav><!-- #bottom-menu -->
			<p class="copyright">&copy; 2015-2016 Блокнотик ВК</p>
		</div><!-- .foo-inn -->
	</footer>
	<div class="navigation-fixed">
		<span class="button-top">Назад</span>
		<span class="button-bottom">Вперед</span>
	</div><!-- .navigation-fixed -->

</body>

</html>