<section class="main-content">
    <div class="loading-content" ng-if="loading">
        <div class="process">
            <div class="process-circle"></div>
            <div class="process-title"><span>Загрузка...</span></div>
        </div>
    </div>
    <div class="main-content-friends">
        <div class="groups-top">
            <div class="block-navigation-button">
                <button class="btn btn-friend" ng-click="returnListFriends()">Список друзей</button>
            </div>
            <div class="block-navigation-button">
                <button class="btn btn-friend" ng-click="listGroups()">К списку групп</button>
            </div>
        </div>
        <div class="friends-content" ng-if="!showAllUser">
            <div class="row text-center groups-title">
                Введите ID любого пользователя, чтобы узнать оставлял он лайки в выбранной группе или нет
            </div>
            <div class="row text-center groups-title-small">
                Примечание: ID в цифровом формате. <span class="red">Тестовое внедрение</span>, сканируются только последние <span class="red">100</span> записей. Если вам понравился данный функционал и хочется его развития, пожалуйста напишите Вконтакте (<a
                    href="https://vk.com/id19541624" class="red">Александр</a>).
            </div>
            <div class="row group-search" style="margin-bottom: 10px;">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" ng-model="userGroup.id"/>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                    <button class="btn btn-friend" ng-click="searchUsersLike()">Найти</button>
                </div>
            </div>
            <div class="row group-info user-more-item">
                <div class="group-info-name col-md-4 col-xs-4">Название: </div>
                <div class="group-info-value col-md-8 col-xs-8">{{group.name}}</div>
            </div>
            <br>
            <div class="row group-info user-more-item">
                <div class="group-info-name col-md-4 col-xs-4">Тип: </div>
                <div class="group-info-value col-md-8 col-xs-8">
                    <span ng-if="group.type == 'group'">группа</span>
                    <span style="color:red;" ng-if="group.type == 'page'">страница</span>
                    <span style="color:orange;" ng-if="group.type == 'event'">мероприятие</span>
                </div>
            </div>
            <br>
            <div class="row group-info user-more-item">
                <div class="group-info-name col-md-4 col-xs-4">Статус: </div>
                <div class="group-info-value col-md-8 col-xs-8">
                    <span ng-if="group.is_closed == 0">открытая</span>
                    <span style="color:red;" ng-if="group.is_closed == 1">закрытая</span>
                    <span style="color:orange;" ng-if="group.is_closed == 2">частная</span>
                </div>
            </div>
            <br>
            <div class="row group-info user-more-item">
                <div class="group-info-name col-md-4 col-xs-4">Количество участников: </div>
                <div class="group-info-value col-md-8 col-xs-8">{{group.members_count}}</div>
            </div>
            <br>
            <div class="row group-info user-more-item">
                <div class="group-info-name col-md-4 col-xs-4">Количество "собачек": </div>
                <div class="group-info-value col-md-8 col-xs-8" style="color:red;">{{deactivated.length + ' / ' + procentDogs + '%'}}</div>
            </div>
            <br>
            <div class="row group-info user-more-item">
                <div class="group-info-name col-md-4 col-xs-4">Количество "местных": </div>
                <div class="group-info-value col-md-8 col-xs-8" style="color:red;">{{localed.length + ' / ' + procentLocal + '%'}}</div>
            </div>
            <br>
            <div class="row group-info user-more-item">
                <div class="group-info-name col-md-4 col-xs-4">Город: </div>
                <div class="group-info-value col-md-8 col-xs-8">{{group.city.title}}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 user-title">Дополнительно:</div>
            </div>
            <div class="row user-more">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="user-more-item" ng-class="{empty:!group.counters.photos}">
                        <span class="tooltips"><i class="ion-camera"></i><em>Фотографии<i></i></em></span>
                        <span>Фотографии</span>
                        <span>{{group.counters.photos}}</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="user-more-item" ng-class="{empty:!group.counters.albums}">
                        <span class="tooltips"><i class="ion-images"></i><em>Альбомы<i></i></em></span>
                        <span>Альбомы </span>
                        <span>{{group.counters.albums}}</span>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="row user-more">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="user-more-item" ng-class="{empty:!group.counters.audios}">
                        <span class="tooltips"><i class="ion-music-note"></i><em>Аудиозаписи<i></i></em></span>
                        <span>Аудиозаписи</span>
                        <span>{{group.counters.audios}}</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="user-more-item" ng-class="{empty:!group.counters.videos}">
                        <span class="tooltips"><i class="ion-videocamera"></i><em>Видеозаписи<i></i></em></span>
                        <span>Видеозаписи</span>
                        <span>{{ group.counters.videos}}</span>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="row user-more user-more-last">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="user-more-item" ng-class="{empty:!group.counters.topics}">
                        <span class="tooltips"><i class="ion-chatbubbles"></i><em>Темы<i></i></em></span>
                        <span>Темы</span>
                        <span>{{group.counters.topics}}</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="user-more-item" ng-class="{empty:!group.counters.docs}">
                        <span class="tooltips"><i class="ion-clipboard"></i><em>Документы<i></i></em></span>
                        <span>Документы</span>
                        <span>{{group.counters.docs}}</span>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="block-navigation-button text-center" style="width: 100%"><button class="btn btn-friend" ng-disabled="group.members_count > 100000" ng-click="getUsers()">Список участников(незаблокированных)</button></div>
                </div>
                <div class="groups-title-small col-md-12 col-sm-12 col-xs-12 text-center pad">Для групп с небольшим количеством участников.<br>P.S. Тестировалось до 100 тысяч. Возможны тормоза, особенно на телефоне.</div>
                <div style="clear: both;"></div>
            </div>

        </div>
        <div class="friends-content" ng-if="showAllUser">
            <div class="row">
                <div class="red text-center groups-title">Не обновляйте страницу! Иначе снова начнется поиск данных!</div>
                <div class="groups-title-small text-center">
                    <div class="pad"><span class="blue">Синим</span> выделены те, кто в данный момент в сети</div>
                    <div class="pad">Для копирования на компьютере в <span class="green">excel</span> нажимаем <b>Ctrl + A</b>, затем <b>Ctrl + C</b> и вставляем в <span class="green">excel</span> (<b>Ctrl + V</b>)<br>Не исключено зависание браузера.</div>
                </div>
            </div>
            <table class="table">
                <th class="text-center">ID</th>
                <th class="text-center">Имя Фамилия</th>
                <tbody id="body-table">
                </tbody>
            </table>
        </div>
    </div>
</section>