<section class="main-content">
    <div class="loading-content" ng-if="loading">
        <div class="process">
            <div class="process-circle"></div>
            <div class="process-title"><span>Загрузка...</span></div>
        </div>
    </div>
    <div class="main-content-friends">
        <!--Блок кнопок-->
        <div class="friends-top">
            <div class="block-navigation-button" ng-if="currentUser">
                <button class="btn btn-friend" ng-click="home()">На главную</button>
            </div>
            <div class="block-navigation-button" ng-if="currentUser && !selectedStat">
                <button class="btn btn-friend" ng-click="choosing()">К выбору статистики</button>
            </div>
            <div class="block-off" ng-if="currentUser">
                <!--<button class="btn btn-off" ng-click="signOff()">Выход</button>-->
                {{currentUser.first_name + ' ' + currentUser.last_name}}
                <button class="btn btn-delete" ng-click="signOff()">Выход</button>
            </div>
            <div class="block-off" ng-if="!currentUser">
                <!--<button class="btn btn-off" ng-click="signOff()">Выход</button>-->
                <button class="btn btn-delete"><a href="/login" target="_blank" style="color:white;">Пройти авторизацию</a></button>
            </div>
        </div>
        <div class="friends-content">
            <div class="friends-content-top">
                <!--поиск-->
                <!--кол во друзей-->
                <div class="friend-table-settings">
                    <div>
                        <div class="friend-table-settings-caption"> <span>Друзей: {{currentUser.counters.friends}}</span></div>
                        <!--<div style="line-height: 42px;">{{friendsArray.length}}</div>-->
                    </div>
                </div>
            </div>
            <div class="friends-content-middle" ng-if="selectedStat">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xs-12 block-stat" ng-click="getStatisticAboutFriends()">
                        <h2>У кого больше всего друзей?</h2>
                        <span>Статистика друзей выбранного пользователя по количеству друзей</span>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xs-12 block-stat" ng-click="getStatActiveUser()">
                        <h2>Активность друзей среди фотографий</h2>
                        <span>Статистика активности друзей выбранного пользователя на его странице по лайкам на <b>фото</b></span>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xs-12 block-stat" ng-click="getStatActiveUserWall()">
                        <h2>Активность друзей на стене</h2>
                        <span>Статистика активности друзей выбранного пользователя на его странице по лайкам на <b>стене</b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xs-12 block-stat" ng-click="showAvaType()">
                        <h2>Кто сменил аву?</h2>
                        <span>Отслеживаем обновления автароки друзей за определенное время</span>
                    </div>
                </div>
            </div>
            <div class="friends-content-middle" ng-if="!selectedStat">
                <div ng-if="firstStat">
                    <h3 class="row text-center">Топ 100 друзей</h3>
                    <div class="friends-item row" ng-repeat="user in resultFriends" ng-click="more(user)">
                        <div class="friends-item-photo col-md-2 col-xs-2">
                            <img src="{{user.photo_50}}" alt="ПользовательВк"/>
                        </div>
                        <div class="friends-item-name col-md-5 col-xs-6" ng-class="{'first-user':$index == 0}">
                            <span>{{user.first_name}}</span>
                            <span> </span>
                            <span> {{user.last_name }}</span>
                        </div>
                        <div class="friends-item-visit blue pull-right">
                            <span>{{user.counters.friends}}</span>
                        </div>
                        <div style="clear: both"></div>
                        <div class="friends-item-band col-md-12 col-xs-12">
                            <div ng-style="{'width':user.width}" class="band"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="secondStat">
                    <div class="friend-table-settings-caption" style="margin-bottom: 10px;">
                        <span>Всего фото:</span>
                        <span>{{currentUser.counters.photos}}</span>
                    </div>
                    <h3 class="row text-center">Самые активные</h3>
                    <div class="friends-item row" ng-repeat="item in resultStatSecond" ng-click="more(item)" ng-if="item.count > 0 && resultStatSecond.length > 0">
                        <div class="friends-item-photo col-md-2 col-xs-2">
                            <img src="{{item.photo_50}}" alt="ПользовательВк"/>
                        </div>
                        <div class="friends-item-name col-md-5 col-xs-6" ng-class="{'first-user':$index == 0}">
                            <span>{{item.first_name}}</span>
                            <span> </span>
                            <span> {{item.last_name }}</span>
                        </div>
                        <div class="friends-item-visit blue pull-right">
                            <i class="ion-ios-heart"></i>
                            <span>{{item.count}}</span>
                        </div>
                        <div style="clear: both"></div>
                        <div class="friends-item-band col-md-12 col-xs-12">
                            <div ng-style="{'width':item.width}" class="band"></div>
                        </div>
                    </div>
                    <div ng-if="resultStatSecond.length == 0" class="text-center red">Фотографий нет либо недоступны</div>
                </div>
                <div ng-if="thirdStat">
                    <div class="friend-table-settings-caption" style="margin-bottom: 10px;">
                        <span>Всего записей:</span>
                        <span>{{wallPosts}}</span>
                    </div>
                    <h3 class="row text-center">Самые активные</h3>
                    <div class="friends-item row" ng-repeat="people in resultStatThird" ng-click="more(people)" ng-if="people.count > 0 && resultStatThird.length > 0">
                        <div class="friends-item-photo col-md-2 col-xs-2">
                            <img src="{{people.photo_50}}" alt="ПользовательВк"/>
                        </div>
                        <div class="friends-item-name col-md-5 col-xs-6" ng-class="{'first-user':$index == 0}">
                            <span>{{people.first_name}}</span>
                            <span> </span>
                            <span> {{people.last_name }}</span>
                        </div>
                        <div class="friends-item-visit blue pull-right">
                            <i class="ion-ios-heart"></i>
                            <span>{{people.count}}</span>
                        </div>
                        <div style="clear: both"></div>
                        <div class="friends-item-band col-md-12 col-xs-12">
                            <div ng-style="{'width':people.width}" class="band"></div>
                        </div>
                    </div>
                    <div ng-if="resultStatThird.length == 0" class="text-center red">Записей нет либо недоступны</div>
                </div>
                <div ng-if="fourStat">
                    <div class="time">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 user-title">Выберите временной диапозон:</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 block-checkbox">
                                <input type="checkbox" ng-checked="objectDate.date == 'first'" ng-true-value="'first'" ng-false-value="'two'" class="checkbox" ng-model="objectDate.date" id="first"/>
                                <label for="first">1 день</label>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 block-checkbox">
                                <input type="checkbox" ng-checked="objectDate.date == 'two'" ng-true-value="'two'" ng-false-value="'first'" class="checkbox" ng-model="objectDate.date" id="two"/>
                                <label for="two">Неделя</label>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-friend pull-right" style="margin-top:10px;" ng-click="getUpdatePhoto()">Найти</button>
                    <div class="result-update" ng-if="resultStatFour.length > 0">
                        <div ng-repeat="data in resultStatFour">
                            <div class="row profile">
                                <div class="profile-user-name">{{data[0].first_name + ' ' + data[0].last_name}}</div>
                                <div class="col-md-6 col-xs-12 col-sm-6">
                                    <figure  class="profile-new-photo">
                                        <img src="{{data[0].src}}" alt=""/>
                                        <figcaption>Новое фото</figcaption>
                                    </figure >
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-6" ng-if="data[1]">
                                    <figure  class="profile-old-photo">
                                        <img src="{{data[1].src}}" alt=""/>
                                        <figcaption>Старое фото</figcaption>
                                    </figure >
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
