<section class="main-content">
    <div class="loading-content" ng-if="loading">
        <div class="process">
            <div class="process-circle"></div>
            <div class="process-title"><span>Загрузка...</span></div>
        </div>
    </div>
    <div class="main-content-friends" ng-if="!groupMoreInfo">
        <div class="groups-top">
            <div class="block-navigation-button">
                <button class="btn btn-friend" ng-click="returnListFriends()">Список друзей</button>
            </div>
        </div>
        <div class="friends-content">
            <div class="row text-center groups-title">
                Нажмите на группу для получения информации или введите ID интересущей вас группы
            </div>
            <div class="row text-center groups-title-small">
                Примечание: чтобы узнать ID группы, если в адресной строке не цифры, нажмите на любое фото в группе или выберите любую тему. Первые цифры до _ являются ID группы.
            </div>
            <div class="row group-search">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" ng-model="otherGroup.id"/>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                    <button class="btn btn-friend" ng-click="searchGroup()" style="margin-bottom:10px;">Получить информацию</button>
                </div>
            </div>
            <div class="row group-search">
                <div class="col-md-6 col-sm-12 col-xs-12 text-center" ng-if="otherGroup.id">
                    <button class="btn btn-friend" ng-click="searchTopWall()" style="margin-bottom:10px;">10 самых популярных записей группы</button>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 text-center" ng-if="otherGroup.id">
                    <button class="btn btn-friend" ng-click="searchFivePostToWeek()">5 лучших записей за неделю</button>
                </div>
            </div>

            <div class="friends-item row" ng-repeat="group in groups" ng-if="$index >= (page - 1) * pageSize && $index < page * pageSize" ng-click="getMoreinfo(group)">
                <div class="friends-item-photo col-md-2 col-xs-2">
                    <img src="{{group.photo_50}}" alt="аватарка группы"/>
                </div>
                <div class="friends-item-name col-md-10 col-xs-10">
                    {{group.name }}
                </div>
            </div>
        </div>
        <div class="friends-content-bottom" ng-if="groups.length > 0 && tops.length == 0">
            <div class="col-md-4 col-xs-3 " style="padding: 0">
                <button class="btn-prev" ng-click="page = page - 1" ng-disabled="page == 1">&laquo; <span>Назад</span></button>
            </div>
            <div class="col-md-4 col-xs-6 text-center">
                <button class="btn-begin" ng-click="page = 1" ng-disabled="page == 1">Начало</button>
            </div>
            <div class="col-md-4 col-xs-3" style="padding: 0">
                <button class="btn-next" ng-click="page = page + 1" ng-disabled="page * pageSize >= groups.length"><span>Вперед</span> &raquo;</button>
            </div>
        </div>

        <div class="result-content" ng-if="tops.length > 0">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 result-content-procent">
                    <div ng-if="procent != 0 && procent != 100 && !stopped">Процесс небыстрый, пожалуйста подождите</div>
                    <div>{{procent}} %</div>
                    <div ng-if="procent == 100 || stopped">Сканирование завершено</div>
                </div>
            </div>
            <div>
                <div class="caption-wall">Топ {{countBest}} лучших записей группы из {{countWalls}} <span ng-if="countBest < 5">за неделю</span></div>
                <ul class="list-unstyled">
                    <li class="row result-content-item post" ng-repeat="item in tops">

                        <!--если есть вложения-->
                        <div class="post-block" ng-if="item.attachments && item.attachments.length > 0">
                            <ul class="list-unstyled">
                                <li ng-repeat="attachment in item.attachments">
                                    <div class="pull-left post-block-photo" ng-click="increasePhoto(attachment.photo)" ng-if="attachment.type == 'photo'">
                                        <img src="{{attachment.photo.photo_130}}" alt=""/>
                                    </div>
                                    <div class="post-block-music-container" ng-if="attachment.type == 'audio'">
                                        <span ng-if="!attachment.isOpen" ng-click="openMusic(attachment)">{{attachment.audio.artist + ' ' + attachment.audio.title}}</span>
                                        <span ng-if="attachment.isOpen" ng-click="openMusic(attachment)">Свернуть</span>
                                        <div class="pull-left post-block-music" ng-if="attachment.type == 'audio' && attachment.isOpen">
                                            <div class="post-block-music-name">{{attachment.audio.artist + ' ' + attachment.audio.title}}</div>
                                            <audio controls style="background: #6383A8;">
                                                <source src="{{attachment.audio.url}}" type="audio/mp3">
                                            </audio>
                                        </div>
                                    </div>
                                    <div class="pull-left post-block-music" ng-if="attachment.type == 'link'">
                                        <div class="groups-title-small">{{attachment.link.description}}</div>
                                        <a href="{{attachment.url}}"><span>{{attachment.link.title}}</span></a>
                                    </div>
                                    <div class="pull-left post-block-music" ng-if="attachment.type == 'video'">
                                        <img src="{{attachment.video.photo_130}}" alt=""/>
                                        <div class="groups-title-small" style="margin:10px;">{{attachment.video.description}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!--если запись репост-->
                        <div class="post-block" ng-if="item.copy_history && item.copy_history.length > 0">
                            <ul class="list-unstyled">
                                <li ng-repeat="history in item.copy_history">
                                    <ul class="list-unstyled">
                                        <li ng-repeat="attachment in history.attachments">
                                            <div class="pull-left post-block-photo" ng-if="attachment.photo.photo_130 && attachment.type == 'photo'" ng-click="increasePhoto(attachment.photo)">
                                                <img src="{{attachment.photo.photo_130}}" alt=""/>
                                            </div>
                                            <div class="post-block-music-container" ng-if="attachment.type == 'audio'">
                                                <span ng-if="!attachment.isOpen" ng-click="openMusic(attachment)">{{attachment.audio.artist + ' ' + attachment.audio.title}}</span>
                                                <span ng-if="attachment.isOpen" ng-click="openMusic(attachment)">Свернуть</span>
                                                <div class="pull-left post-block-music" ng-if="attachment.type == 'audio' && attachment.isOpen">
                                                    <div class="post-block-music-name">{{attachment.audio.artist + ' ' + attachment.audio.title}}</div>
                                                    <audio controls style="background: #6383A8;">
                                                        <source src="{{attachment.audio.url}}" type="audio/mp3">
                                                    </audio>
                                                </div>
                                            </div>
                                            <div class="pull-left post-block-music" ng-if="attachment.type == 'link'">
                                                <div class="groups-title-small">{{attachment.link.description}}</div>
                                                <a href="{{attachment.url}}"><span>{{attachment.link.title}}</span></a>
                                            </div>
                                            <div class="pull-left post-block-music" ng-if="attachment.type == 'video'">
                                                <img src="{{attachment.video.photo_130}}" alt=""/>
                                                <div class="groups-title-small" style="margin:10px;">{{attachment.video.description}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="pull-left post-block-photo" ng-if="history.photo.photo_75" ng-click="increasePhoto(history.photo)">
                                        <img src="{{history.photo.photo_75}}" alt=""/>
                                    </div>
                                    <div class="post-text" ng-if="history.text != ''">{{history.text}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="post-text" >{{item.text}}</div>
                        <div class="post-more">
                            <div class="comment-date pull-left">
                                {{item.date}}
                            </div>
                            <div class="post-more-likes">
                                <span style="margin-right: 5px; color:#d3d3d3" ng-if="item.views.count">
                                    <i class="ion-ios-eye-outline"></i>{{item.views.count}}
                                </span>
                                <span>
                                    <i class="ion-heart"></i>{{' ' + item.likes.count}}
                                </span>
                                <!--<span ng-if="selectedTopList.list.id == 1">-->
                                    <!--<i class="ion-volume-low"></i>{{' ' + item.reposts.count}}-->
                                <!--</span>-->
                            </div>
                        </div>
                        <hr>
                        <div class="post-comments">
                            <div class="col-md-2 col-xs-2 user-title">Ссылка: </div>
                            <div class="col-md-10 col-xs-10">
                                {{item.url}}
                            </div>
                        </div>
                    </li>
                </ul>

                <hr>
            </div>
        </div>
        <div ng-if="posts.length == 0 && procent == 100">
            <div class="text-center caption-wall">Актуальных записей нет</div>
        </div>
    </div>
</section>