@import "config.less";

@media(max-width: 640px) {
    .btn {
       &-checkLikes, &-userFriends, &-checkPhoto {
           width: 125px;
           padding: 5px;
       }
    }
}

@media(min-width: 640px) {
    .btn {
        &-checkLikes, &-userFriends, &-checkPhoto {
            width: 155px;
        }
    }
}

.btn {
    cursor: pointer;

    &:focus {
        outline: none !important;
    }

    &:active {
        outline: none !important;
    }

    &-open {
        position: absolute;
        top: 28%;
        left: 83%;
        margin: -60px 0 0 -150px;
        background-color: @color-button;
        font: @font-title;
        border-radius: 20px;
        width: 230px;
//        height: 120px;

        a {
            height: 120px;
            color: @color-white;
        }

        a:hover, a:focus {
            outline: none;
            text-decoration: none !important;
        }
    }

    &-friend, &-off, &-online, &-back, &-checkLikes, &-checkPhoto, &-delete, &-search, &-userFriends, &-home, &-select, &-change, &-begin, &-wish {
        background-color: @color-button;
        color: @color-white;
    }


    &-wish {
        margin-left: 15px;
        width: 200px;
    }

    &-checkLikes, &-userFriends, &-checkPhoto {
        border-radius: 4px;
    }

    &-select {
        width: 50%;
        height: 40px;
        border-radius: 4px;
    }

    &-next {
        float: right;
    }

    &-search {
        margin: 15px 0 0 15px;
    }

    &-begin {

    }

    &-change {
        margin-top:15px;
    }


    &-prev, &-next, &-begin {
        background-color: @color-button;
        border-radius: 4px;
        border: 0;

        padding: 5px 14px;
        margin: 0 5px 0 5px;

        color: @color-white;
        cursor: pointer;
    }

    &-prev:disabled, &-next:disabled, &-begin:disabled {
        background-color: @color-white;
        border: 1px solid #dddddd;
        color: #999;
    }

    &-prev:focus, &-next:focus, &-back, &-friend, &-off, &-online, &-select, &-begin:focus {
        outline: none;
    }
}

//всплывающее окно
//придумать параметризацию стилей
.popup_window {
    background-color: black;
    color: @color-white;
    border-radius: 20px;
    width: 300px;
    position: absolute;
    top :30%;
    left: 40%;
    padding: 20px 25px 20px 55px;
    font: @font-caption-bold
}

//основной цвет
.blue {
    color: @color-button;
}

.red {
    color: @color-red;
}

//курсор
.pointer {
    cursor: pointer;
}

//полупрозрачный фон
.processing {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55);
    -moz-opacity: 0.55;
    -khtml-opacity: 0.55;
    opacity: 0.55;

    i {
        position:absolute;
        color: white;
        font-size: 80px;
        top: 50%;
        left: 50%;
        margin: -50px 0 0 -50px;
    }
}

//полотно для увеленных фото

.blade {
    position: relative;
    bottom: 0;
    margin:0 auto;
    background: @color-white;
    max-height: 1000px;
    width: 100%;
    z-index: 102;

    img {
        padding-left:10px;
        margin: 0 0 20px 0 auto;
        width: 90%;
        height: auto;
    }

    &-close {
        font: @font-caption-bold;
        float:right;
        margin: 5px 5px 15px 0;
        cursor: pointer;
    }
}


.caption {

    &-form {
        font: @font-caption-bold;
        margin: 10px 0;
        line-height: 34px;

        &-name {
            font: @font-caption;
            display: inline-block;
        }
    }

    &-main, &-empty, &-notLikes {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 0 0 -250px;
        width: 500px;
        font: @font-name;

        div {
            text-align: center;
        }
    }

    &-notLikes {
        top: 40%;
        div {
            padding:0 0 5px 0;
        }
    }

}

//стрелка

.arrows {
    position: relative;
    margin: 0px auto;
    width: 120px;
    height: 20px;
    background: @color-button;
    padding: 0px 5px;
    color: #ffffff;

    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 17px solid transparent;
    }

    &:after {
        top: -8px;
        left: -16px;
        border-right-color: @color-button;
        border-left: 0;
    }

    &:before {
        top: -8px;
        right: -14px;
        border-left-color: @color-button;
        border-right: 0;
    }
}


//всплывающая подсказка

.tooltips {
    position: relative;

    em {
        display: none;
    }
}

.tooltips:hover em {
//    width: 200px;
    font-style: normal;
    display: block;
    position: absolute;
    background: #000;
    color: #FFF;
    padding: 5px 10px;
    bottom: 22px;
    left: 0;
    box-shadow: 0 0 5px #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    z-index: 10;
    white-space: nowrap;

    i {
        position: absolute;
        bottom: -7px;
        left: 12px;
        border-top: 7px solid #000;
        border-right: 7px solid transparent;
        display: block;
    }
}


//таблица selected
.selected-table {
    td {
        line-height: 26px !important;
    }


    &-input {
        input {
            height: 20px;
            width: 20px;
        }
    }
}

.active-tr {
    background-color: @color-button;
}


//компоненты пользователя (группы, фото и т.д.)
@media (min-width: 640px) {
    .parametrs {

        li {
            position: relative;
            background-color: @color-button;
            border-radius: 20px;
            width: 125px;
            height: 50px;
            float: left;
            margin: 0 10px;
            color: #ffffff;

            span {
                font: @font-body-bold;
            }

            span:first-child {
                span {
                    position: absolute;
                    top: 11px;
                    left: 27px;
                    margin: 0 10px;
                    font: @font-caption-bold;
                    i {
                        font-size: 20px;
                    }
                }
            }

            span:last-child {
                position: absolute;
                top: 13px;
                left: 65px;
            }

        }

        li:first-child {
            margin-left: 25px;
        }
    }
}

@media (max-width: 640px) {
    .parametrs {

        li {
            position: relative;
            background-color: @color-button;
            border-radius: 20px;
            width: 100px;
            height: 50px;
            float: left;
            margin: 0 10px;
            color: #ffffff;

            span {
                font: @font-body-bold;
            }

            span:first-child {
                span {
                    position: absolute;
                    top: 11px;
                    left: 13px;
                    margin: 0 10px;
                    font: @font-caption-bold;
                    i {
                        font-size: 20px;
                    }
                }
            }

            span:last-child {
                position: absolute;
                top: 13px;
                left: 50px;
            }

        }

        li:first-child {
            margin-left: 25px;
        }
    }
}

.info-title {
    font: @font-big-caption-bold;
    margin:  10px 0 20px 10px;
}


//главная иконка
.main-icon {
//    color: @color-button;
    img {
        width: 670px;
        height: 778px;
        margin-right: 10px;
        margin-left: 30px;
    }
}

.line-top {
    border-right: 2px solid gray;
}

//Media styles

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 768px) {
    .caption {
        &-main, &-empty, &-notLikes {
            width: 400px;
            margin: 0 0 0 -200px;

            font-size:24px;
        }
    }
}

@media only screen and (max-width: 568px) {
    .caption {
        &-main, &-empty, &-notLikes {
            width: 350px;
            margin: 0 0 0 -175px;

            font-size:22px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .caption {
        &-main, &-empty, &-notLikes {
            width: 200px;
            margin: 0 0 0 -100px;

            font-size:18px;
        }
    }
}

@media only screen and (max-width: 320px) {
    .caption {
        &-main, &-empty, &-notLikes {
            width: 200px;
            margin: 0 0 0 -100px;

            font-size:16px;
        }
    }
}

.empty {
    opacity: 0.4;
}

.selected-item {
    color:white;
    background-color: @color-button;
    box-shadow: 0 2px 6px @color-button, 0 0 40px rgba(0, 0, 0, 0.3) inset;
}


.form-control:focus {
    border-color: @color-button;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @color-button;
}

//загрузка
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    100% { -moz-transform:rotate(360deg); }
}

@-webkit-keyframes spin {
    100% { -webkit-transform:rotate(360deg); }
}

@-ms-keyframes spin {
    100% { -ms-transform:rotate(360deg); }
}

@-o-keyframes spin {
    100% { -o-transform:rotate(360deg); }
}


.loading-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 2000;
    opacity: 0.8;
}

.process {
    position: absolute;
    top:50%;
    left:50%;
    margin: -75px 0 0 -75px;


    &-title {
        margin-top:10px;
        font-size: 1.3em;
        text-align: center;
        color: lightblue;
    }

    &-circle {
        width: 150px;
        height: 150px;
        border: 20px solid lightblue;
        border-bottom-color: @color-button;
        border-radius: 100%;
        animation: spin 1s infinite linear;


        -moz-animation: spin 1s infinite linear;
        -o-animation: spin 1s infinite linear;
        -webkit-animation: spin 1s infinite linear;
        -ms-animation: spin 1s infinite linear;
    }

}

.send-message {
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 15px 0 0 0;
}

//чекбоксы
.block-checkbox {
    line-height: 30px;
}
/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
    cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}

.checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}

/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
    background: #6383a8;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
    left: 26px;
}
/* Показываем получение фокуса. */
.checkbox:focus + label:before {
//    box-shadow: 0 0 0 3px #6383a8;
}