@media (max-width: 640px) {
  .btn-checkLikes,
  .btn-userFriends,
  .btn-checkPhoto {
    width: 125px;
    padding: 5px;
  }
}
@media (min-width: 640px) {
  .btn-checkLikes,
  .btn-userFriends,
  .btn-checkPhoto {
    width: 155px;
  }
}
.btn {
  cursor: pointer;
}
.btn:focus {
  outline: none !important;
}
.btn:active {
  outline: none !important;
}
.btn-open {
  position: absolute;
  top: 28%;
  left: 83%;
  margin: -60px 0 0 -150px;
  background-color: #6383a8;
  font: 600 26px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  border-radius: 20px;
  width: 230px;
}
.btn-open a {
  height: 120px;
  color: #ffffff;
}
.btn-open a:hover,
.btn-open a:focus {
  outline: none;
  text-decoration: none !important;
}
.btn-friend,
.btn-off,
.btn-online,
.btn-back,
.btn-checkLikes,
.btn-checkPhoto,
.btn-delete,
.btn-search,
.btn-userFriends,
.btn-home,
.btn-select,
.btn-change,
.btn-begin,
.btn-wish {
  background-color: #6383a8;
  color: #ffffff;
}
.btn-wish {
  margin-left: 15px;
  width: 200px;
}
.btn-checkLikes,
.btn-userFriends,
.btn-checkPhoto {
  border-radius: 4px;
}
.btn-select {
  width: 50%;
  height: 40px;
  border-radius: 4px;
}
.btn-next {
  float: right;
}
.btn-search {
  margin: 15px 0 0 15px;
}
.btn-change {
  margin-top: 15px;
}
.btn-prev,
.btn-next,
.btn-begin {
  background-color: #6383a8;
  border-radius: 4px;
  border: 0;
  padding: 5px 14px;
  margin: 0 5px 0 5px;
  color: #ffffff;
  cursor: pointer;
}
.btn-prev:disabled,
.btn-next:disabled,
.btn-begin:disabled {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #999;
}
.btn-prev:focus,
.btn-next:focus,
.btn-back,
.btn-friend,
.btn-off,
.btn-online,
.btn-select,
.btn-begin:focus {
  outline: none;
}
.popup_window {
  background-color: black;
  color: #ffffff;
  border-radius: 20px;
  width: 300px;
  position: absolute;
  top: 30%;
  left: 40%;
  padding: 20px 25px 20px 55px;
  font: 800 14px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
}
.blue {
  color: #6383a8;
}
.red {
  color: #e51c23;
}
.pointer {
  cursor: pointer;
}
.processing {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55);
  -moz-opacity: 0.55;
  -khtml-opacity: 0.55;
  opacity: 0.55;
}
.processing i {
  position: absolute;
  color: white;
  font-size: 80px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
.blade {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  background: #ffffff;
  max-height: 1000px;
  width: 100%;
  z-index: 102;
}
.blade img {
  padding-left: 10px;
  margin: 0 0 20px 0 auto;
  width: 90%;
  height: auto;
}
.blade-close {
  font: 800 14px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  float: right;
  margin: 5px 5px 15px 0;
  cursor: pointer;
}
.caption-form {
  font: 800 14px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  margin: 10px 0;
  line-height: 34px;
}
.caption-form-name {
  font: 400 16px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  display: inline-block;
}
.caption-main,
.caption-empty,
.caption-notLikes {
  position: absolute;
  top: 35%;
  left: 50%;
  margin: 0 0 0 -250px;
  width: 500px;
  font: 800 24px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
}
.caption-main div,
.caption-empty div,
.caption-notLikes div {
  text-align: center;
}
.caption-notLikes {
  top: 40%;
}
.caption-notLikes div {
  padding: 0 0 5px 0;
}
.arrows {
  position: relative;
  margin: 0px auto;
  width: 120px;
  height: 20px;
  background: #6383a8;
  padding: 0px 5px;
  color: #ffffff;
}
.arrows:before,
.arrows:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 17px solid transparent;
}
.arrows:after {
  top: -8px;
  left: -16px;
  border-right-color: #6383a8;
  border-left: 0;
}
.arrows:before {
  top: -8px;
  right: -14px;
  border-left-color: #6383a8;
  border-right: 0;
}
.tooltips {
  position: relative;
}
.tooltips em {
  display: none;
}
.tooltips:hover em {
  font-style: normal;
  display: block;
  position: absolute;
  background: #000;
  color: #FFF;
  padding: 5px 10px;
  bottom: 22px;
  left: 0;
  box-shadow: 0 0 5px #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  z-index: 10;
  white-space: nowrap;
}
.tooltips:hover em i {
  position: absolute;
  bottom: -7px;
  left: 12px;
  border-top: 7px solid #000;
  border-right: 7px solid transparent;
  display: block;
}
.selected-table td {
  line-height: 26px !important;
}
.selected-table-input input {
  height: 20px;
  width: 20px;
}
.active-tr {
  background-color: #6383a8;
}
@media (min-width: 640px) {
  .parametrs li {
    position: relative;
    background-color: #6383a8;
    border-radius: 20px;
    width: 125px;
    height: 50px;
    float: left;
    margin: 0 10px;
    color: #ffffff;
  }
  .parametrs li span {
    font: 600 18px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  }
  .parametrs li span:first-child span {
    position: absolute;
    top: 11px;
    left: 27px;
    margin: 0 10px;
    font: 800 14px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  }
  .parametrs li span:first-child span i {
    font-size: 20px;
  }
  .parametrs li span:last-child {
    position: absolute;
    top: 13px;
    left: 65px;
  }
  .parametrs li:first-child {
    margin-left: 25px;
  }
}
@media (max-width: 640px) {
  .parametrs li {
    position: relative;
    background-color: #6383a8;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    float: left;
    margin: 0 10px;
    color: #ffffff;
  }
  .parametrs li span {
    font: 600 18px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  }
  .parametrs li span:first-child span {
    position: absolute;
    top: 11px;
    left: 13px;
    margin: 0 10px;
    font: 800 14px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  }
  .parametrs li span:first-child span i {
    font-size: 20px;
  }
  .parametrs li span:last-child {
    position: absolute;
    top: 13px;
    left: 50px;
  }
  .parametrs li:first-child {
    margin-left: 25px;
  }
}
.info-title {
  font: 800 16px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  margin: 10px 0 20px 10px;
}
.main-icon img {
  width: 670px;
  height: 778px;
  margin-right: 10px;
  margin-left: 30px;
}
.line-top {
  border-right: 2px solid gray;
}
.groups-title {
  padding: 0 0 15px 0;
  font-size: 20px;
}
.groups-title-small {
  font-size: 0.9em;
  opacity: 0.7;
  padding: 0 0 15px 0;
}
.groups-top {
  height: 50px;
}
.group-info {
  font-family: Marck Script, sans-serif;
  font-size: 20px;
}
.group-info-name {
  font-weight: 500;
  color: black;
}
.group-info-value {
  font-weight: 800;
  text-align: center;
  color: black;
  opacity: 0.7;
}
.group-search input {
  margin-bottom: 10px;
}
.caption-main {
  font-family: Marck Script, sans-serif;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .caption-main,
  .caption-empty,
  .caption-notLikes {
    width: 400px;
    margin: 0 0 0 -200px;
    font-size: 24px;
  }
}
@media only screen and (max-width: 568px) {
  .caption-main,
  .caption-empty,
  .caption-notLikes {
    width: 350px;
    margin: 0 0 0 -175px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 480px) {
  .caption-main,
  .caption-empty,
  .caption-notLikes {
    width: 200px;
    margin: 0 0 0 -100px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 320px) {
  .caption-main,
  .caption-empty,
  .caption-notLikes {
    width: 200px;
    margin: 0 0 0 -100px;
    font-size: 16px;
  }
}
.empty {
  opacity: 0.4;
}
.selected-item {
  color: white;
  background-color: #6383a8;
  box-shadow: 0 2px 6px #6383a8, 0 0 40px rgba(0, 0, 0, 0.3) inset;
}
.form-control:focus {
  border-color: #6383a8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6383a8;
}
.pad {
  padding: 15px;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  100% {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  100% {
    -o-transform: rotate(360deg);
  }
}
.loading-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 2000;
  opacity: 0.8;
}
.process {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
}
.process-title {
  margin-top: 10px;
  font-size: 1.3em;
  text-align: center;
  color: lightblue;
}
.process-circle {
  width: 150px;
  height: 150px;
  border: 20px solid lightblue;
  border-bottom-color: #6383a8;
  border-radius: 100%;
  animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
}
.send-message {
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 15px 0 0 0;
}
.block-checkbox {
  line-height: 30px;
}
/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
  cursor: pointer;
}
/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */
/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative;
  /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 60px;
  /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all .2s;
  /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
  background: #6383a8;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
  left: 26px;
}
/* Показываем получение фокуса. */
.go-up,
.go-down {
  display: none;
  position: fixed;
  /*позиционирование*/
  z-index: 9999;
  /*поверх все элементов на странице*/
  right: 12%;
  /*положение на странице, если слева - left*/
  background: #6383a8;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font: normal normal 42px/42px sans-serif;
  opacity: .5;
  padding: 3px;
  margin-bottom: 5px;
  width: 42px;
  height: 48px;
}
.go-up {
  bottom: 60px;
}
.go-down {
  bottom: 10px;
}
.go-down:hover,
.go-up:hover {
  opacity: 1;
  box-shadow: 0 5px 0.5em -1px #6383a8;
}
.band {
  height: 12px;
  background: #6383a8;
  border-radius: 2px;
}
.blue {
  font-weight: 600;
  color: #6383a8;
}
.green {
  color: green;
}
.profile {
  padding: 10px;
  margin: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  background-color: #6383a8;
  color: white;
}
.profile-user-name {
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
}
.profile-new-photo,
.profile-old-photo {
  padding: 7px;
  border: 1px solid lightgray;
  background-color: white;
  text-align: center;
}
.profile-new-photo figcaption,
.profile-old-photo figcaption {
  color: black;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0 0 0;
}
.profile-new-photo img,
.profile-old-photo img {
  border: 1px solid lightblue;
  border-radius: 4px;
}
.result-update {
  margin-top: 50px;
}
.rodnoi-gorod {
  font-size: 28px;
}
.rodnoi-gorod-title {
  text-align: center;
  font-size: 21px;
}
.result-migration {
  border: 1px dashed #cdcfd1;
  padding: 20px;
  margin-top: 20px;
}
.top td {
  vertical-align: middle !important;
  font-size: 16px;
  font-weight: 500;
}
.top td img {
  border-radius: 4px;
}
.top td a {
  color: #6383a8;
  text-decoration: none;
}
.town td[animate]:first-child {
  border: 0;
}
.town td[animate] {
  vertical-align: middle !important;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}
.town-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 56px;
}
