.main-contents {
  background-color: white;
  height: 600px;
  width: 900px;
  min-width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}
body {
  height: 100vh;
  min-height: 900px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
}
@media (min-width: 640px) {
  .index {
    position: absolute;
    width: 744px;
    height: 900px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../image/book2_new.png);
  }
  .index-navigation {
    margin: 30px 0 0 0;
    text-align: center;
  }
  .index-navigation span {
    margin-top: 20px;
    display: inline-block;
    height: 40px;
    font: 600 18px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  }
  .index-navigation span a {
    text-decoration: none;
    color: black;
  }
  .index-navigation span a:hover {
    color: #6383a8;
  }
  .index-navigation span:hover {
    cursor: pointer;
    color: #6383a8;
    border-bottom: 5px solid #6383a8;
  }
  .index-project-content {
    margin-top: 60px;
  }
  .index-project-content-item {
    font: 600 18px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
    margin-bottom: 50px;
  }
  .index-project-content-item-icon {
    font-size: 33px;
    float: left;
    color: #6383a8;
  }
  .index-project-content-item-text {
    margin-left: 45px;
  }
  .index-wishes,
  .index-project {
    width: 542px;
    margin: 30px auto;
  }
  .index-wishes-form {
    margin-top: 60px;
  }
  .index hr {
    border: 1px solid gray;
    margin: 0px 10px 0 40px;
    width: 656px;
  }
}
@media (max-width: 640px) {
  .mainIndex {
    height: 100%;
    margin: auto;
  }
  .mainIndex-content {
    position: absolute;
    width: 640px;
    height: 960px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../image/book3.png);
  }
}
@media (min-width: 640px) {
  .mainIndex {
    height: 100%;
    margin: auto;
  }
  .mainIndex-content {
    position: absolute;
    width: 744px;
    height: 900px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../image/book1_new.png);
  }
}
@media (max-width: 640px) {
  .block-friend,
  .block-off,
  .block-back,
  .block-wall,
  .block-photo {
    position: absolute;
  }
  .block-friend {
    top: 105px;
    left: 85px;
  }
  .block-friend-online {
    position: absolute;
    top: 105px;
    left: 210px;
  }
  .block-friend-delete {
    position: absolute;
    top: 105px;
    left: 337px;
  }
  .block-home {
    position: absolute;
    top: 85px;
    left: 455px;
  }
  .block-off {
    top: 105px;
    left: 430px;
  }
  .block-back {
    top: 85px;
    left: 85px;
  }
  .block-photo,
  .block-wall {
    top: 85px;
    left: 415px;
  }
  .block-form {
    position: absolute;
    top: 85px;
    left: 200px;
  }
}
.vk-open {
  margin: auto;
  text-align: center;
}
@media (min-width: 640px) {
  .block-friend,
  .block-off,
  .block-back,
  .block-wall,
  .block-photo {
    position: absolute;
  }
  .block-friend {
    top: 95px;
    left: 95px;
  }
  .block-friend-online {
    position: absolute;
    top: 95px;
    left: 220px;
  }
  .block-friend-delete {
    position: absolute;
    top: 95px;
    left: 347px;
  }
  .block-home {
    position: absolute;
    top: 85px;
    left: 555px;
  }
  .block-off {
    top: 100px;
    left: 455px;
  }
  .block-back {
    top: 85px;
    left: 85px;
  }
  .block-photo,
  .block-wall {
    top: 85px;
    left: 518px;
  }
  .block-form {
    position: absolute;
    top: 85px;
    left: 200px;
  }
}
@media (min-width: 640px) {
  .friend-table {
    width: 635px;
    padding: 150px 0 0 115px;
  }
  .friend-table-button {
    padding: 20px 0 0 0;
  }
  .friend-table .row {
    padding-bottom: 10px;
  }
  .friend-table-settings-caption {
    margin-left: 10px;
    line-height: 42px !important;
    font: 800 14px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  }
}
@media (max-width: 640px) {
  .friend-table {
    width: 550px;
    padding: 160px 0 0 100px;
  }
  .friend-table-button {
    padding: 20px 0 0 0;
  }
  .friend-table .row {
    padding-bottom: 10px;
  }
  .friend-table-settings-caption {
    margin-left: 10px;
    line-height: 42px !important;
    font: 800 14px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  }
}
.more-icon {
  text-align: center;
  cursor: pointer;
}
@media (min-width: 640px) {
  .user {
    position: absolute;
    width: 744px;
    height: 900px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../image/book2_new.png);
  }
  .user-title {
    position: absolute;
    top: 50px;
    left: 112px;
    font: 800 14px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  }
  .user-content {
    min-height: 673px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #A3A3A3;
    height: 75%;
    margin: 126px 85px 0 85px;
  }
  .user-content hr {
    border-top: 1px solid #A3A3A3;
    margin: 20px 10px;
    width: 555px;
  }
  .user-content .friend-table {
    width: 550px !important;
    padding: 15px 0 0 15px !important;
  }
  .user-content-avatar {
    margin: 10px 0 10px 10px;
  }
  .user-content-avatar img {
    border-radius: 10px;
  }
  .user-content-block {
    margin: 10px 0 10px 0;
  }
  .user-friend {
    position: absolute;
    top: 85px;
    left: 95px;
  }
  .user-friend-online {
    position: absolute;
    top: 85px;
    left: 220px;
  }
  .user-friend-delete {
    position: absolute;
    top: 85px;
    left: 347px;
  }
}
@media (max-width: 640px) {
  .user {
    position: absolute;
    width: 640px;
    height: 960px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../image/book6.png);
  }
  .user-title {
    position: absolute;
    top: 50px;
    left: 118px;
    font: 800 14px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  }
  .user-content {
    border: 1px solid #A3A3A3;
    height: 75%;
    margin: 126px 85px 0 85px;
  }
  .user-content hr {
    border-top: 1px solid #A3A3A3;
    margin: 20px 10px;
  }
  .user-content .friend-table {
    width: 450px !important;
    padding: 20px 0 0 20px !important;
  }
  .user-content-avatar {
    margin: 10px 0 10px 10px;
  }
  .user-content-avatar img {
    border-radius: 10px;
  }
  .user-content-block {
    margin: 10px 0 10px 0;
  }
  .user-friend {
    position: absolute;
    top: 85px;
    left: 95px;
  }
  .user-friend-online {
    position: absolute;
    top: 85px;
    left: 220px;
  }
  .user-friend-delete {
    position: absolute;
    top: 85px;
    left: 347px;
  }
}
@media (min-width: 640px) {
  .main {
    position: absolute;
    width: 744px;
    height: 900px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../image/book2_new.png);
  }
  .main-block {
    margin: 10px 0 10px 0;
  }
  .main-form {
    width: 530px;
    margin: 25px 20px 30px 20px;
  }
  .main-form hr {
    width: 515px;
  }
  .main-form-title {
    font: 600 26px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
    padding-left: 10px;
  }
  .main-form-caption {
    text-align: left;
    font: 800 16px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  }
  .main-form .row {
    margin: 25px 0;
  }
  .main-component {
    background: #ffffff;
    width: 560px;
    overflow: auto;
    border-radius: 5px;
    height: 630px;
    margin: 15px auto;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .main-component-wall {
    background: #ffffff;
    width: 542px;
    overflow: auto;
    border-radius: 5px;
    height: 650px;
    margin: 10px 15px 0 15px;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
}
@media (max-width: 640px) {
  .main {
    position: absolute;
    width: 640px;
    height: 960px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../image/book6.png);
  }
  .main-block {
    margin: 10px 0 10px 0;
  }
  .main-form {
    width: 425px;
    margin: 25px 20px 30px 20px;
  }
  .main-form .row {
    margin: 25px 0;
  }
  .main-component {
    background: #ffffff;
    width: 444px;
    overflow: auto;
    border-radius: 5px;
    height: 695px;
    margin: 10px 15px 0 15px;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .main-component-wall {
    background: #ffffff;
    width: 455px;
    overflow: auto;
    border-radius: 5px;
    height: 630px;
    margin: 15px auto;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
}
.flname {
  font: 800 26px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
}
.status {
  font: 200 16px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  padding-bottom: 50px;
}
.id {
  font: 400 16px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  padding-bottom: 10px;
}
.bdate {
  font: 400 16px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  padding-bottom: 10px;
}
.userHome {
  font: 400 16px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  padding-bottom: 10px;
}
.form-control {
  width: 99%;
  height: 42px;
  padding: 10px 16px;
  font-size: 16px;
}
.caption-wall {
  font: 400 20px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  padding: 8px;
}
.post {
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  width: 510px;
  min-height: 100px;
  margin: 5px 5px 5px 5px;
  box-shadow: 1px 0px 3px;
}
.post-block-photo {
  border: 1px solid #6383a8;
  margin: 10px;
  cursor: pointer;
}
.post-block-music {
  margin: 10px;
  width: 100%;
}
.post-block-music-container {
  background: #6383a8;
  margin: 7px;
  float: right;
  width: 492px;
  color: white;
  padding: 0 0 0 10px;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
.post-block-music span {
  cursor: pointer;
  padding-left: 10px;
}
.post-block-music-name {
  font: 400 16px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  margin-bottom: 5px;
}
.post-text {
  display: inline-block;
  font: 800 14px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  margin-left: 10px;
  width: 97%;
}
.post-more {
  width: 100%;
  min-height: 23px;
}
.post-more-likes {
  font: 800 14px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  color: #6383a8;
  padding-right: 5px;
  float: right;
}
.post-more-comment {
  font-style: italic;
  float: right;
  padding-right: 30px;
  cursor: pointer;
}
.userPhoto {
  border: 1px solid #6383a8;
  float: left;
  margin: 10px;
}
